<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.masiya.topup.mapper.PasswordResetMapper">
	<select id="getAll" resultMap="com.masiya.topup.mapper.CommonMapper.resmapPasswordReset">
		SELECT pr.PasswordResetHash_vchr, pr.PasswordResetId_int, pr.PasswordResetDate_dt, usr.*
		FROM PasswordReset pr
		INNER JOIN User usr ON pr.UserId_int = usr.UserId_int
	</select>
	<select id="getById" resultMap="com.masiya.topup.mapper.CommonMapper.resmapPasswordReset">
		SELECT pr.PasswordResetHash_vchr, pr.PasswordResetId_int, pr.PasswordResetDate_dt, usr.*
		FROM PasswordReset pr
		INNER JOIN User usr ON pr.UserId_int = usr.UserId_int
		WHERE pr.PasswordResetId_int = #{id}
		ORDER BY pr.PasswordResetDate_dt DESC LIMIT 1
	</select>
	
	<select id="getByHash" resultMap="com.masiya.topup.mapper.CommonMapper.resmapPasswordReset">
		SELECT pr.PasswordResetHash_vchr, pr.PasswordResetId_int, pr.PasswordResetDate_dt, usr.*
		FROM PasswordReset pr
		INNER JOIN User usr ON pr.UserId_int = usr.UserId_int
		WHERE pr.PasswordResetHash_vchr = #{hashKey}
		ORDER BY pr.PasswordResetDate_dt DESC LIMIT 1
	</select>
	
	<insert id="add" parameterType="com.masiya.topup.model.PasswordReset"
		useGeneratedKeys="true" keyProperty="passwordResetId" keyColumn="PasswordResetId_int">
		INSERT INTO PasswordReset
			(`UserId_int`, `PasswordResetHash_vchr`)
		VALUES
			(#{user.userId}, SHA2(NOW(), 256))
	</insert>
	<update id="update" parameterType="com.masiya.topup.model.PasswordReset">
	</update>
	<delete id="delete">
	</delete>
</mapper>